In [2]:
import pandas as pd
import numpy as np
import os
from tqdm.notebook import tqdm

In [3]:
path = f"C:\\Users\\dudtj\\busan_moving_person\\data\\csv_data\\500\\500셀_부산진구 유동인구 데이터_변환" #원천데이터 파일위치
os.chdir(path)
file_list = os.listdir(path)
f_list = [file for file in file_list if file.endswith(".csv")]
print(f_list)

['CV500_50CELL_BUSANJINGU_2019_201901.csv', 'CV500_50CELL_BUSANJINGU_2019_201902.csv', 'CV500_50CELL_BUSANJINGU_2019_201903.csv', 'CV500_50CELL_BUSANJINGU_2019_201904.csv', 'CV500_50CELL_BUSANJINGU_2019_201905.csv', 'CV500_50CELL_BUSANJINGU_2019_201906.csv', 'CV500_50CELL_BUSANJINGU_2019_201907.csv', 'CV500_50CELL_BUSANJINGU_2019_201908.csv', 'CV500_50CELL_BUSANJINGU_2019_201909.csv', 'CV500_50CELL_BUSANJINGU_2019_201910.csv', 'CV500_50CELL_BUSANJINGU_2019_201911.csv', 'CV500_50CELL_BUSANJINGU_2019_201912.csv']

In [34]:
test_df = pd.read_csv('CV500_50CELL_BUSANJINGU_2019_201901.csv')
test_df.columns

Index(['id', 'x', 'y', 'timezn_cd', 'm00', 'm10', 'm15', 'm20', 'm25', 'm30',
       'm35', 'm40', 'm45', 'm50', 'm55', 'm60', 'm65', 'm70', 'f00', 'f10',
       'f15', 'f20', 'f25', 'f30', 'f35', 'f40', 'f45', 'f50', 'f55', 'f60',
       'f65', 'f70', 'total', 'admdong_cd', 'etl_ymd'],
      dtype='object')

In [37]:
# 칼럼 명 < 500cell 변환한 데이터의 칼럼 확인 필요 > 
col_name = ['id', 'x', 'y', 'timezn_cd', 'm00', 'm10', 'm15', 'm20', 'm25', 'm30',
       'm35', 'm40', 'm45', 'm50', 'm55', 'm60', 'm65', 'm70', 'f00', 'f10',
       'f15', 'f20', 'f25', 'f30', 'f35', 'f40', 'f45', 'f50', 'f55', 'f60',
       'f65', 'f70', 'total', 'admdong_cd', 'etl_ymd']
print(len(col_name))

35

In [44]:
cd ..

C:\Users\dudtj\busan_moving_person

In [46]:
# admdong_cd <-> admdong_nm matching
matchDF = pd.read_csv('./data/BUSAN_ADMDONG_CD-ADMDONG_NM.csv')
matchDF = matchDF.drop(['sido_cd', 'sido_nm', 'sgg_cd', 'sgg_nm'], axis=1)
matchDF

    admdong_cd admdong_nm
0     26230700       당감4동
1     26230760       개금3동
2     26230750       개금2동
3     26230740       개금1동
4     26230520       부전2동
5     26230510       부전1동
6     26230540        연지동
7     26230780       범천2동
8     26230770       범천1동
9     26230680       당감2동
10    26230670       당감1동
11    26230550        초읍동
12    26230610       전포2동
13    26230600       전포1동
14    26230720       가야2동
15    26230710       가야1동
16    26230660       부암3동
17    26230570       양정2동
18    26230560       양정1동
19    26230640       부암1동

In [67]:
for i in tqdm(range(len(f_list))):
    print(f_list[i])
    celldf = pd.read_csv(f_list[i],encoding='UTF-8')
    celldf = pd.merge(celldf, matchDF ,how='left',on='admdong_cd')
    celldf.to_csv(f'./N_'+f_list[i],encoding = "euc-kr" ,index = False)
    print("done :)")

  0%|          | 0/12 [00:00<?, ?it/s]

CV500_50CELL_BUSANJINGU_2019_201901.csv
done :)
CV500_50CELL_BUSANJINGU_2019_201902.csv
done :)
CV500_50CELL_BUSANJINGU_2019_201903.csv
done :)
CV500_50CELL_BUSANJINGU_2019_201904.csv
done :)
CV500_50CELL_BUSANJINGU_2019_201905.csv
done :)
CV500_50CELL_BUSANJINGU_2019_201906.csv
done :)
CV500_50CELL_BUSANJINGU_2019_201907.csv
done :)
CV500_50CELL_BUSANJINGU_2019_201908.csv
done :)
CV500_50CELL_BUSANJINGU_2019_201909.csv
done :)
CV500_50CELL_BUSANJINGU_2019_201910.csv
done :)
CV500_50CELL_BUSANJINGU_2019_201911.csv
done :)
CV500_50CELL_BUSANJINGU_2019_201912.csv
done :)