In [1]:
import pandas as pd
import numpy as np
import os

In [14]:
cd "csv_data/500/500셀_부산진구 유동인구 데이터_행정동 매칭/"

C:\Users\dudtj\busan_moving_person\data\csv_data\500\500셀_부산진구 유동인구 데이터_행정동 매칭

In [15]:
ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: CE27-0A82

 C:\Users\dudtj\busan_moving_person\data\csv_data\500\500셀_부산진구 유동인구 데이터_행정동 매칭 디렉터리

2021-07-30  오후 05:45    <DIR>          .
2021-07-30  오후 05:45    <DIR>          ..
2021-07-30  오후 05:44        54,998,457 N_CV500_50CELL_BUSANJINGU_2019_201901.csv
2021-07-30  오후 05:44        51,477,725 N_CV500_50CELL_BUSANJINGU_2019_201902.csv
2021-07-30  오후 05:44        54,930,750 N_CV500_50CELL_BUSANJINGU_2019_201903.csv
2021-07-30  오후 05:44        53,643,301 N_CV500_50CELL_BUSANJINGU_2019_201904.csv
2021-07-30  오후 05:44        55,059,196 N_CV500_50CELL_BUSANJINGU_2019_201905.csv
2021-07-30  오후 05:44        53,987,376 N_CV500_50CELL_BUSANJINGU_2019_201906.csv
2021-07-30  오후 05:44        55,137,709 N_CV500_50CELL_BUSANJINGU_2019_201907.csv
2021-07-30  오후 05:44        55,314,463 N_CV500_50CELL_BUSANJINGU_2019_201908.csv
2021-07-30  오후 05:44        53,961,023 N_CV500_50CELL_BUSANJINGU_2019_201909.csv
2021-07-30  오후 05:45        55,445,930 N_CV500_50CELL_BUSANJINGU_2019_201910.csv
2021-07-30  오후 05:45        54,100,254 N_CV500_50CELL_BUSANJINGU_2019_201911.csv
2021-07-30  오후 05:45        55,153,103 N_CV500_50CELL_BUSANJINGU_2019_201912.csv
              12개 파일         653,209,287 바이트
               2개 디렉터리  122,279,895,040 바이트 남음

In [2]:
file_list = os.listdir()
f_list = [file for file in file_list if file.endswith(".csv")]
f_list

In [6]:
for i in range(len(f_list)):
    datadf = pd.read_csv(f_list[i], encoding = "utf-8")
    datadf = datadf[datadf.id > 0]
    
    datadf['m'] = datadf.iloc[:,4:18].sum(axis=1)
    datadf['f'] = datadf.iloc[:,18:32].sum(axis=1)
    
    col1 = 'm_'+str(f_list[i][7:13])
    col2 = 'f_'+str(f_list[i][7:13])
    
    datadf = datadf.rename(columns = {'m':col1,'f':col2})
    a = datadf[['id','x','y','timezn_cd', col1, col2]]
    if i == 0:
        fpdf = a
    else:
        fpdf = pd.merge(fpdf, a, how='outer', on=['id','x','y','timezn_cd'])
    
    print(f_list[i])
    
fpdf.to_csv('dataset_fp.csv', encoding = "utf-8" ,index = False)

KYEOSU_201901.csv
KYEOSU_201902.csv
KYEOSU_201903.csv
KYEOSU_201904.csv
KYEOSU_201905.csv
KYEOSU_201906.csv
KYEOSU_201907.csv
KYEOSU_201908.csv
KYEOSU_201909.csv
KYEOSU_201910.csv
KYEOSU_201911.csv
KYEOSU_201912.csv
KYEOSU_202001.csv
KYEOSU_202002.csv
KYEOSU_202003.csv
KYEOSU_202004.csv
KYEOSU_202005.csv
KYEOSU_202006.csv

In [5]:
fpdf.head(100)

,id,x,y,timezn_cd,m_201901,f_201901,m_201902,f_201902,m_201903,f_201903,...,m_202002,f_202002,m_202003,f_202003,m_202004,f_202004,m_202005,f_202005,m_202006,f_202006
0,17741128,354927,225768,0,15.79,8.36,43.57,19.14,44.70,18.36,...,8.69,4.36,2.72,3.28,6.78,5.46,12.15,12.48,NaN,NaN
1,17741128,354927,225768,1,21.26,12.55,52.22,19.99,49.95,20.83,...,9.19,6.01,2.76,3.50,10.32,8.42,13.79,13.35,NaN,NaN
2,17741128,354927,225768,2,18.18,11.99,51.68,20.14,51.50,21.15,...,9.04,4.87,4.12,4.16,9.33,7.59,11.61,10.22,NaN,NaN
3,17741128,354927,225768,3,13.95,10.54,49.77,19.03,52.28,18.54,...,9.87,5.22,3.56,3.82,13.08,10.22,13.30,11.25,NaN,NaN
4,17741128,354927,225768,4,16.12,11.94,50.91,19.60,59.44,18.67,...,10.50,7.39,5.64,5.03,13.37,8.60,12.34,12.05,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,18041133,360927,226768,6,25.74,6.91,41.29,23.28,20.67,5.87,...,0.68,0.59,0.69,0.65,4.20,2.83,30.54,22.61,42.75,23.36
96,18041133,360927,226768,7,85.39,20.88,94.86,41.14,52.45,13.98,...,13.20,6.61,9.45,5.13,5.99,5.85,51.24,40.76,70.52,37.04
97,18041133,360927,226768,8,79.30,31.63,80.07,46.87,48.40,18.81,...,28.87,13.64,26.31,12.50,24.40,16.58,79.36,56.30,77.62,46.20
98,18041133,360927,226768,9,98.57,45.03,109.72,62.96,95.61,37.37,...,52.76,25.76,52.90,27.93,49.55,30.97,114.77,82.26,123.37,72.33
99,18041133,360927,226768,10,96.75,42.55,128.54,71.88,94.60,41.30,...,92.38,42.39,72.73,38.58,51.76,32.58,141.60,93.03,129.92,71.14