제공된 3개의 파일을 활용한 [실습]
- ratings.dat
- movies.dat
- users.dat

In [1]:
import pandas as pd
import numpy as np

In [2]:
data1 = pd.read_csv('./data/ratings.dat', sep="::", header=None, names=['userid', 'movieid', 'raiting', 'timestamp'])

<ipython-input-2-2c6bf9400603>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  data1 = pd.read_csv('./data/ratings.dat', sep="::", header=None, names=['userid', 'movieid', 'raiting', 'timestamp'])

In [3]:
data2 = pd.read_csv('./data/movies.dat', sep="::", header=None, names=['movieid', 'title', 'genres'])

<ipython-input-3-646b2c68cc03>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  data2 = pd.read_csv('./data/movies.dat', sep="::", header=None, names=['movieid', 'title', 'genres'])

In [4]:
data3 = pd.read_csv('./data/users.dat', sep="::", header=None, names=['userid', 'gender','age','dummy1','dummy2'])
data3 = data3.drop(['dummy1', 'dummy2'], axis=1, inplace=False)

<ipython-input-4-526645847b83>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  data3 = pd.read_csv('./data/users.dat', sep="::", header=None, names=['userid', 'gender','age','dummy1','dummy2'])

In [5]:
print(data1.info())
print('*'*50)
print(data2.info())
print('*'*50)
print(data3.info())
print('*'*50)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000209 entries, 0 to 1000208
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   userid     1000209 non-null  int64
 1   movieid    1000209 non-null  int64
 2   raiting    1000209 non-null  int64
 3   timestamp  1000209 non-null  int64
dtypes: int64(4)
memory usage: 30.5 MB
None
**************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3883 entries, 0 to 3882
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieid  3883 non-null   int64
 1   title    3883 non-null   object
 2   genres   3883 non-null   object
dtypes: int64(1), object(2)
memory usage: 91.1+ KB
None
**************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6040 entries, 0 to 6039
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   userid  6040 non-null   int64
 1   gender  6040 non-null   object
 2   age     6040 non-null   int64
dtypes: int64(2), object(1)
memory usage: 141.7+ KB
None
**************************************************

In [6]:
print(data1.head())
print('*'*50)
print(data2.head())
print('*'*50)
print(data3.head())
print('*'*50)

   userid  movieid  raiting  timestamp
0       1     1193        5  978300760
1       1      661        3  978302109
2       1      914        3  978301968
3       1     3408        4  978300275
4       1     2355        5  978824291
**************************************************
   movieid                               title                        genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy
**************************************************
   userid gender  age
0       1      F    1
1       2      M   56
2       3      M   25
3       4      M   45
4       5      M   25
**************************************************

data1의 userid, movieid가 있으므로 data2와 data3에 공통칼럼이 있다.

### 공통 칼럼을 활용한 데이터 병합 - 고유값을 기준으로 병합해야하니까, merge 사용

In [7]:
result_inner = pd.merge(data1, data2)
result_data = pd.merge(result_inner, data3)

result_data

,userid,movieid,raiting,timestamp,title,genres,gender,age
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama,F,1
1,1,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical,F,1
2,1,914,3,978301968,My Fair Lady (1964),Musical|Romance,F,1
3,1,3408,4,978300275,Erin Brockovich (2000),Drama,F,1
4,1,2355,5,978824291,"Bug's Life, A (1998)",Animation|Children's|Comedy,F,1
...,...,...,...,...,...,...,...,...
1000204,4211,3791,2,965319075,Footloose (1984),Drama,M,45
1000205,4211,3806,3,965319138,MacKenna's Gold (1969),Western,M,45
1000206,4211,3840,4,965319197,Pumpkinhead (1988),Horror,M,45
1000207,4211,3766,2,965319138,Missing in Action (1984),Action|War,M,45
1000208,4211,3834,2,965318885,Bronco Billy (1980),Adventure|Drama|Romance,M,45

### user 평점 갯수 순위 확인(sort)

In [8]:
result_data['raiting'].value_counts().sort_values(ascending=False)

4    348971
3    261197
5    226310
2    107557
1     56174
Name: raiting, dtype: int64

In [15]:
result_data['raiting_cnt'] = result_data['userid'].sort_values().value_counts()
raiting_cnt

4169    2314
1680    1850
4277    1743
1941    1595
1181    1521
        ...
761       20
1493      20
5533      20
2714      20
2696      20
Name: userid, Length: 6040, dtype: int64

### 평점이 200개 이상인 영화들의 성별 평균 평점

In [17]:
def check_cnt(x):
    if raiting_cnt > 200 :
        return raiting_cnt

In [18]:
result = result_data.groupby('gender').mean(check_cnt)

In [129]:
result['raiting']

gender
F    3.620366
M    3.568879
Name: raiting, dtype: float64

### 여성이 가장 좋아하는 영화 순위

In [16]:
result_data

,userid,movieid,raiting,timestamp,title,genres,gender,age,raiting_cnt
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama,F,1,NaN
1,1,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical,F,1,53.0
2,1,914,3,978301968,My Fair Lady (1964),Musical|Romance,F,1,129.0
3,1,3408,4,978300275,Erin Brockovich (2000),Drama,F,1,51.0
4,1,2355,5,978824291,"Bug's Life, A (1998)",Animation|Children's|Comedy,F,1,21.0
...,...,...,...,...,...,...,...,...,...
1000204,4211,3791,2,965319075,Footloose (1984),Drama,M,45,NaN
1000205,4211,3806,3,965319138,MacKenna's Gold (1969),Western,M,45,NaN
1000206,4211,3840,4,965319197,Pumpkinhead (1988),Horror,M,45,NaN
1000207,4211,3766,2,965319138,Missing in Action (1984),Action|War,M,45,NaN
1000208,4211,3834,2,965318885,Bronco Billy (1980),Adventure|Drama|Romance,M,45,NaN

In [31]:
female_data = result_data[result_data['gender'] == 'F']
male_data = result_data[result_data['gender'] == 'M']

In [33]:
female_data

,userid,movieid,raiting,timestamp,title,genres,gender,age,raiting_cnt
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama,F,1,NaN
1,1,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical,F,1,53.0
2,1,914,3,978301968,My Fair Lady (1964),Musical|Romance,F,1,129.0
3,1,3408,4,978300275,Erin Brockovich (2000),Drama,F,1,51.0
4,1,2355,5,978824291,"Bug's Life, A (1998)",Animation|Children's|Comedy,F,1,21.0
...,...,...,...,...,...,...,...,...,...
1000030,1615,2769,3,974729219,"Yards, The (1999)",Crime|Mystery,F,45,NaN
1000031,1615,117,3,974729037,"Young Poisoner's Handbook, The (1995)",Crime,F,45,NaN
1000032,1615,3950,3,974729219,Tigerland (2000),Drama,F,45,NaN
1000033,1615,3951,3,974729219,Two Family House (2000),Drama,F,45,NaN
1000034,1615,2158,3,974729037,"Henry: Portrait of a Serial Killer, Part 2 (1996)",Crime|Horror,F,45,NaN

In [52]:
female_most_movie = female_data.groupby('title')['raiting'].sum().rank(method='max', ascending=False)

In [53]:
female_most_movie.sort_values(ascending = False)

title
Wirey Spindell (1999)                                3481.0
Alan Smithee Film: Burn Hollywood Burn, An (1997)    3481.0
Destiny Turns on the Radio (1995)                    3481.0
Loves of Carmen, The (1948)                          3481.0
Stalingrad (1993)                                    3481.0
                                                      ...
Shawshank Redemption, The (1994)                        5.0
Sixth Sense, The (1999)                                 4.0
Silence of the Lambs, The (1991)                        3.0
Shakespeare in Love (1998)                              2.0
American Beauty (1999)                                  1.0
Name: raiting, Length: 3481, dtype: float64

### 남녀간의 평균 평점 차이

In [107]:
mean_ratings = result_data.pivot_table('raiting', index='title', columns='gender', aggfunc='mean', fill_value=0)
mean_ratings.head()

gender                                F         M
title
$1,000,000 Duck (1971)         3.375000  2.761905
'Night Mother (1986)           3.388889  3.352941
'Til There Was You (1997)      2.675676  2.733333
'burbs, The (1989)             2.793478  2.962085
...And Justice for All (1979)  3.828571  3.689024

In [111]:
mean_ratings['diff'] = mean_ratings['F'] - mean_ratings['M']
mean_ratings['diff'].head()

title
$1,000,000 Duck (1971)           0.613095
'Night Mother (1986)             0.035948
'Til There Was You (1997)       -0.057658
'burbs, The (1989)              -0.168607
...And Justice for All (1979)    0.139547
Name: diff, dtype: float64

Comedy영화 중 가장 평점이 낮은 영화의 제목

In [96]:
# comedy 장르가 포함된 모든 행값 
comedy_data = result_data.loc[result_data['genres'].str.contains('Comedy')]
# comedy_data 에서 평점이 낮은 영화 제목
min_comedy_data = comedy_data[comedy_data['raiting'] == comedy_data['raiting'].min()]
min_comedy_data['title']

152                            Get Shorty (1995)
180                           Nurse Betty (2000)
266                             Bowfinger (1999)
292           Four Weddings and a Funeral (1994)
716                           Mystery Men (1999)
                           ...
1000154    Nutty Professor II: The Klumps (2000)
1000159                         Road Trip (2000)
1000162                          Kid, The (2000)
1000194                         Hairspray (1988)
1000197                       Spice World (1997)
Name: title, Length: 21616, dtype: object

### 평균 평점이 가장 높은 영화의 제목(동률이 있을 경우 모두 출력)

                                           raiting
title
$1,000,000 Duck (1971)                    3.027027
'Night Mother (1986)                      3.371429
'Til There Was You (1997)                 2.692308
'burbs, The (1989)                        2.910891
...And Justice for All (1979)             3.713568
...                                            ...
Zed & Two Noughts, A (1985)               3.413793
Zero Effect (1998)                        3.750831
Zero Kelvin (Kj?lighetens kj?ere) (1995)  3.500000
Zeus and Roxanne (1997)                   2.521739
eXistenZ (1999)                           3.256098

[3706 rows x 1 columns]

### 각 영화별 평균 평점

In [113]:
mean_ratings_movie = result_data.pivot_table('raiting', index='title', aggfunc='mean', fill_value=0)
mean_ratings_movie.head()

                                raiting
title
$1,000,000 Duck (1971)         3.027027
'Night Mother (1986)           3.371429
'Til There Was You (1997)      2.692308
'burbs, The (1989)             2.910891
...And Justice for All (1979)  3.713568

### 각 영화의 성별 평균 평점

In [105]:
mean_gender_ratings = result_data.pivot_table('raiting', index='title', columns='gender', aggfunc='mean', fill_value=0)
mean_gender_ratings.head()

gender                                F         M
title
$1,000,000 Duck (1971)         3.375000  2.761905
'Night Mother (1986)           3.388889  3.352941
'Til There Was You (1997)      2.675676  2.733333
'burbs, The (1989)             2.793478  2.962085
...And Justice for All (1979)  3.828571  3.689024

### 평점이 220개 이상인 영화만 필터링

In [128]:
ratings_by_title = result_data.groupby('title').size()
type(ratings_by_title) # Series

# over 220 ratings
ratings_by_title >= 220 # boolean으로 리턴

active_titles = ratings_by_title.index[ratings_by_title >= 220]
active_titles

Index([''burbs, The (1989)', '10 Things I Hate About You (1999)',
       '101 Dalmatians (1961)', '101 Dalmatians (1996)', '12 Angry Men (1957)',
       '13th Warrior, The (1999)', '2 Days in the Valley (1996)',
       '20,000 Leagues Under the Sea (1954)', '2001: A Space Odyssey (1968)',
       '2010 (1984)',
       ...
       'X-Men (2000)', 'Year of Living Dangerously (1982)',
       'Yellow Submarine (1968)', 'You've Got Mail (1998)',
       'Young Frankenstein (1974)', 'Young Guns (1988)',
       'Young Guns II (1990)', 'Young Sherlock Holmes (1985)',
       'Zero Effect (1998)', 'eXistenZ (1999)'],
      dtype='object', name='title', length=1332)

### 평점의 표준편차가 큰 영화

In [150]:
ratings_by_sd = result_data.groupby('title')['raiting'].std()
print(ratings_by_sd)
max_ratings_by_sd = ratings_by_sd.loc[active_titles].max()
max_ratings_by_sd

2.8284271247461903