In [21]:
import pandas as pd
import numpy as np
import os
from tqdm.notebook import tqdm

#### 변경 셀 사이즈 및 KATECH 좌표 원점 ####
#### x_base, y_base는 지역에 상관없이 고정값 ####
cell_size = 100
x_base,y_base = 400000,600000

def cv_cell(x,y):  ### 셀 사이즈 변경 함수 정의 ###
    a = ((x - x_base)//cell_size)*cell_size + (cell_size//2 -25) + x_base
    b = ((y - y_base)//cell_size)*cell_size + (cell_size//2 -25) + y_base
    c = (a//100)*10000 + (b//100)
    return(c,a,b)

In [26]:
path = f"C:\\Users\\dudtj\\busan_moving_person\\data\\store_data\\100test" #원천데이터 파일위치
os.chdir(path)
file_list = os.listdir(path)
f_list = [file for file in file_list if file.endswith(".csv")]
print(f_list)

['NEW_FPR_BUSANJINGU_STORE_2021.csv']

In [29]:
# 칼럼 명 < 원천 데이터 확인 필요 > 
col_name = ['id', 'x', 'y', 'total', 'code', 'code_nm', 'admi_cd', 'admi_nm', 'lng', 'lat']

# 칼럼 수 Test & Check
test_df = pd.read_csv(f_list[0], encoding="cp949")
print("col_name 칼럼 수 확인 : ", len(col_name))
print("raw_data 칼럼 수 확인 : ", len(test_df.columns))
print(test_df.columns)

col_name 칼럼 수 확인 :  10
raw_data 칼럼 수 확인 :  10
Index(['id', 'x', 'y', 'total', 'code', 'code_nm', 'admi_cd', 'admi_nm', 'lng',
       'lat'],
      dtype='object')

In [30]:
test_df

,id,x,y,total,code,code_nm,admi_cd,admi_nm,lng,lat
0,49352841,493582,284125,1,Q,음식,26230740,개금1동,129.024938,35.151645
1,49402841,494017,284132,1,D,소매,26230720,가야2동,129.029713,35.151668
2,49702847,497047,284761,1,D,소매,26230600,전포1동,129.063037,35.157050
3,49652841,496564,284117,1,D,소매,26230520,부전2동,129.057661,35.151292
4,49672852,496790,285284,1,D,소매,26230510,부전1동,129.060278,35.161788
...,...,...,...,...,...,...,...,...,...,...
17134,49712867,497198,286707,1,R,학문/교육,26230560,양정1동,129.064923,35.174574
17135,49652851,496520,285152,1,Q,음식,26230510,부전1동,129.057299,35.160624
17136,49702845,497033,284566,1,F,생활서비스,26230600,전포1동,129.062861,35.155293
17137,49452852,494516,285277,1,R,학문/교육,26230670,당감1동,129.035320,35.161941
17138,49682849,496897,284910,1,Q,음식,26230510,부전1동,129.061408,35.158407

In [45]:
for filename in tqdm(f_list):
    print(filename)

##########################################################

    chunksize = 500  ### 1번에 처리할 행의 갯수 정의 ##
    
##########################################################    
    
    cnt_list=[]
    for cnt, celldf in tqdm(enumerate(pd.read_csv(filename, header = 0, names=col_name, encoding = "cp949", chunksize=chunksize))):
        print(cnt, celldf.shape)
         
        a=[]
        cellar = celldf[['x','y']].values
        for rows in cellar:
            a.append(cv_cell(rows[0], rows[1]))
        
        celldf[['id','x','y']] = a
        celldf = celldf.groupby(['id', 'x', 'y', 'code', 'code_nm'], as_index = False).sum()
        columns = ['id', 'x', 'y', 'total', 'code', 'code_nm']
        celldf = celldf[columns]
        cnt_filename = filename[:-4]+str(cnt)+filename[-4:]
        cnt_list.append(cnt_filename)
        celldf.to_csv(cnt_filename, encoding = "cp949" ,index = False)
    
    celldf = pd.DataFrame(columns=columns)
    print('### 파일을 통합합니다. ###')
    
    for filename in cnt_list:
        adf = pd.read_csv(filename, header = 0, encoding = "cp949")
        celldf = pd.concat([celldf,adf])
        os.remove(filename)
        
    celldf = celldf.groupby(['id', 'x', 'y'], as_index = False).sum()
    celldf = celldf[columns]
    
    mg_filename = './CV100_'+filename[:-5]+'.csv'
    print(mg_filename)
    celldf.to_csv(mg_filename, encoding = "cp949" ,index = False)

  0%|          | 0/1 [00:00<?, ?it/s]

NEW_FPR_BUSANJINGU_STORE_2021.csv

0it [00:00, ?it/s]

0 (500, 10)
1 (500, 10)
2 (500, 10)
3 (500, 10)
4 (500, 10)
5 (500, 10)
6 (500, 10)
7 (500, 10)
8 (500, 10)
9 (500, 10)
10 (500, 10)
11 (500, 10)
12 (500, 10)
13 (500, 10)
14 (500, 10)
15 (500, 10)
16 (500, 10)
17 (500, 10)
18 (500, 10)
19 (500, 10)
20 (500, 10)
21 (500, 10)
22 (500, 10)
23 (500, 10)
24 (500, 10)
25 (500, 10)
26 (500, 10)
27 (500, 10)
28 (500, 10)
29 (500, 10)
30 (500, 10)
31 (500, 10)
32 (500, 10)
33 (500, 10)
34 (139, 10)
### 파일을 통합합니다. ###
./CV100_NEW_FPR_BUSANJINGU_STORE_20213.csv

In [5]:
pwd

'C:\\Users\\dudtj\\busan_moving_person\\data\\store_data\\100test'