In [63]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm

In [64]:
pwd

'C:\\Users\\dudtj\\busan_moving_person\\data\\parquet_data'

In [65]:
cd "data/parquet_data"

[WinError 3] 지정된 경로를 찾을 수 없습니다: 'data/parquet_data'
C:\Users\dudtj\busan_moving_person\data\parquet_data

In [66]:
file_list = os.listdir("./")
f_list = [file for file in file_list if file.endswith(".parquet")]
f_list

['50CELL_BUSANJINGU_2019_201901.parquet',
 '50CELL_BUSANJINGU_2019_201902.parquet',
 '50CELL_BUSANJINGU_2019_201903.parquet',
 '50CELL_BUSANJINGU_2019_201904.parquet',
 '50CELL_BUSANJINGU_2019_201905.parquet',
 '50CELL_BUSANJINGU_2019_201906.parquet',
 '50CELL_BUSANJINGU_2019_201907.parquet',
 '50CELL_BUSANJINGU_2019_201908.parquet',
 '50CELL_BUSANJINGU_2019_201909.parquet',
 '50CELL_BUSANJINGU_2019_201910.parquet',
 '50CELL_BUSANJINGU_2019_201911.parquet',
 '50CELL_BUSANJINGU_2019_201912.parquet']

In [67]:
testdf = pd.read_parquet('50CELL_BUSANJINGU_2019_201901.parquet')
testdf.head(3)

,id,x,y,timezn_cd,m00,m10,m15,m20,m25,m30,...,f40,f45,f50,f55,f60,f65,f70,total,admi_cd,etl_ymd
0,95151855,492502,284793,15,0.14,0.42,0.37,0.60,0.14,0.18,...,0.55,0.28,0.55,0.51,0.32,0.09,0.23,8.87,26230760,20190110
1,95164043,492552,284743,6,0.09,0.23,0.28,0.18,0.28,0.28,...,0.42,0.18,0.51,0.51,0.60,0.32,0.18,9.49,26230760,20190112
2,95164043,492552,284743,12,0.18,0.32,0.32,0.60,0.18,0.18,...,0.42,0.60,0.97,0.79,0.14,0.09,0.14,9.93,26230760,20190116

In [68]:
testdf = pd.read_parquet('50CELL_BUSANJINGU_2019_201901.parquet')
testdf.columns

Index(['id', 'x', 'y', 'timezn_cd', 'm00', 'm10', 'm15', 'm20', 'm25', 'm30',
       'm35', 'm40', 'm45', 'm50', 'm55', 'm60', 'm65', 'm70', 'f00', 'f10',
       'f15', 'f20', 'f25', 'f30', 'f35', 'f40', 'f45', 'f50', 'f55', 'f60',
       'f65', 'f70', 'total', 'admi_cd', 'etl_ymd'],
      dtype='object')

In [57]:
col_list = ['m00', 'm10', 'm15', 'm20', 'm25', 'm30','m35', 'm40', 'm45', 'm50', 'm55', 'm60', 
            'm65', 'm70', 'f00', 'f10', 'f15', 'f20', 'f25', 'f30', 'f35', 'f40', 'f45', 'f50',
            'f55', 'f60', 'f65', 'f70', 'total']

In [61]:
# 연령대를 묶어서 연산
for i in tqdm(range(len(f_list))):
    datadf = pd.read_parquet(f_list[i])
    datadf = datadf.groupby(by=['id', 'x', 'y', 'timezn_cd']).sum().reset_index().iloc[:,:-2]
    datadf = datadf[datadf.id > 0]
    
    datadf['m_10'] = datadf.iloc[:,4:7].sum(axis=1)
    datadf['m_20'] = datadf.iloc[:,7:9].sum(axis=1)
    datadf['m_30'] = datadf.iloc[:,9:11].sum(axis=1)
    datadf['m_40'] = datadf.iloc[:,11:13].sum(axis=1)
    datadf['m_50'] = datadf.iloc[:,13:15].sum(axis=1)
    datadf['m_60'] = datadf.iloc[:,15:17].sum(axis=1)
    datadf['m_70'] = datadf.iloc[:,17:18].sum(axis=1)
    datadf['f_10'] = datadf.iloc[:,18:21].sum(axis=1)
    datadf['f_20'] = datadf.iloc[:,21:23].sum(axis=1)
    datadf['f_30'] = datadf.iloc[:,23:25].sum(axis=1)
    datadf['f_40'] = datadf.iloc[:,25:27].sum(axis=1)
    datadf['f_50'] = datadf.iloc[:,27:29].sum(axis=1)
    datadf['f_60'] = datadf.iloc[:,29:31].sum(axis=1)
    datadf['f_70'] = datadf.iloc[:,31:32].sum(axis=1)
    
    datadf = datadf.drop(columns = col_list)
    
    display(datadf.head(1))
    
    a = datadf[['id','x','y','timezn_cd',
                'm_10','m_20','m_30','m_40', 'm_50', 'm_60', 'm_70',
                'f_10','f_20','f_30','f_40', 'f_50', 'f_60', 'f_70']]
    if i == 0:
        fpdf = a
    else:
        fpdf = pd.merge(fpdf, a, how='outer', on=['id','x','y','timezn_cd'])
    
    print(f_list[i])
    
fpdf.to_csv('dataset_age_fp.csv', encoding = "UTF-8" ,index = False)
print("DONE :)")

  0%|                                                                                           | 0/12 [00:00<?, ?it/s]

,id,x,y,timezn_cd,m_10,m_20,m_30,m_40,m_50,m_60,m_70,f_10,f_20,f_30,f_40,f_50,f_60,f_70
0,95139666,492452,284793,0,5.69,11.18,10.46,11.1,9.65,6.87,1.13,5.88,9.48,9.1,6.7,7.79,6.41,3.45

  8%|██████▉                                                                            | 1/12 [00:05<00:55,  5.02s/it]

50CELL_BUSANJINGU_2019_201901.parquet

,id,x,y,timezn_cd,m_10,m_20,m_30,m_40,m_50,m_60,m_70,f_10,f_20,f_30,f_40,f_50,f_60,f_70
0,95139666,492452,284793,0,2.54,10.38,10.87,10.12,10.03,4.89,1.69,6.46,8.95,8.79,6.5,5.57,3.78,0.81

 17%|█████████████▊                                                                     | 2/12 [00:09<00:48,  4.82s/it]

50CELL_BUSANJINGU_2019_201902.parquet

,id,x,y,timezn_cd,m_10,m_20,m_30,m_40,m_50,m_60,m_70,f_10,f_20,f_30,f_40,f_50,f_60,f_70
0,95139666,492452,284793,0,6.41,10.34,11.72,8.42,12.16,5.74,2.48,7.66,9.06,10.8,6.95,6.7,5.34,2.3

 25%|████████████████████▊                                                              | 3/12 [00:14<00:44,  4.95s/it]

50CELL_BUSANJINGU_2019_201903.parquet

,id,x,y,timezn_cd,m_10,m_20,m_30,m_40,m_50,m_60,m_70,f_10,f_20,f_30,f_40,f_50,f_60,f_70
0,95139666,492452,284793,0,2.47,6.19,10.36,7.53,8.8,7.81,1.31,6.41,9.06,8.27,6.94,7.8,2.64,0.55

 33%|███████████████████████████▋                                                       | 4/12 [00:19<00:40,  5.01s/it]

50CELL_BUSANJINGU_2019_201904.parquet

,id,x,y,timezn_cd,m_10,m_20,m_30,m_40,m_50,m_60,m_70,f_10,f_20,f_30,f_40,f_50,f_60,f_70
0,95139666,492452,284793,0,4.05,7.08,10.0,6.77,5.67,3.58,1.71,3.1,7.7,7.84,6.73,8.87,3.42,1.66

 42%|██████████████████████████████████▌                                                | 5/12 [00:25<00:35,  5.14s/it]

50CELL_BUSANJINGU_2019_201905.parquet

,id,x,y,timezn_cd,m_10,m_20,m_30,m_40,m_50,m_60,m_70,f_10,f_20,f_30,f_40,f_50,f_60,f_70
0,95139666,492452,284793,0,5.04,8.15,11.21,10.24,9.87,7.6,3.12,6.31,8.63,7.53,7.21,8.26,5.12,1.98

 50%|█████████████████████████████████████████▌                                         | 6/12 [00:30<00:31,  5.26s/it]

50CELL_BUSANJINGU_2019_201906.parquet

,id,x,y,timezn_cd,m_10,m_20,m_30,m_40,m_50,m_60,m_70,f_10,f_20,f_30,f_40,f_50,f_60,f_70
0,95139666,492452,284793,0,4.26,13.02,12.07,10.28,10.76,8.5,4.45,4.38,13.62,10.05,7.14,7.93,7.82,1.98

 58%|████████████████████████████████████████████████▍                                  | 7/12 [00:36<00:26,  5.36s/it]

50CELL_BUSANJINGU_2019_201907.parquet

,id,x,y,timezn_cd,m_10,m_20,m_30,m_40,m_50,m_60,m_70,f_10,f_20,f_30,f_40,f_50,f_60,f_70
0,95139666,492452,284793,0,7.07,17.98,13.53,8.43,7.26,10.46,2.78,8.34,12.56,10.92,10.33,11.45,8.51,3.59

 67%|███████████████████████████████████████████████████████▎                           | 8/12 [00:41<00:21,  5.45s/it]

50CELL_BUSANJINGU_2019_201908.parquet

,id,x,y,timezn_cd,m_10,m_20,m_30,m_40,m_50,m_60,m_70,f_10,f_20,f_30,f_40,f_50,f_60,f_70
0,95139666,492452,284793,0,3.76,14.35,14.47,11.42,7.49,5.08,6.79,7.04,13.37,14.85,7.05,11.46,7.06,2.45

 75%|██████████████████████████████████████████████████████████████▎                    | 9/12 [00:47<00:16,  5.51s/it]

50CELL_BUSANJINGU_2019_201909.parquet

,id,x,y,timezn_cd,m_10,m_20,m_30,m_40,m_50,m_60,m_70,f_10,f_20,f_30,f_40,f_50,f_60,f_70
0,95139666,492452,284793,0,6.52,13.33,18.09,8.93,6.65,9.19,2.02,7.05,15.04,13.0,6.81,10.12,9.5,2.56

 83%|████████████████████████████████████████████████████████████████████▎             | 10/12 [00:53<00:11,  5.61s/it]

50CELL_BUSANJINGU_2019_201910.parquet

,id,x,y,timezn_cd,m_10,m_20,m_30,m_40,m_50,m_60,m_70,f_10,f_20,f_30,f_40,f_50,f_60,f_70
0,95139666,492452,284793,0,4.08,12.01,9.32,9.45,3.91,6.21,2.28,6.17,13.46,11.08,6.64,10.47,6.13,3.16

 92%|███████████████████████████████████████████████████████████████████████████▏      | 11/12 [00:59<00:05,  5.67s/it]

50CELL_BUSANJINGU_2019_201911.parquet

,id,x,y,timezn_cd,m_10,m_20,m_30,m_40,m_50,m_60,m_70,f_10,f_20,f_30,f_40,f_50,f_60,f_70
0,95139666,492452,284793,0,3.42,8.84,10.29,9.3,4.35,6.1,2.55,4.68,8.63,8.6,5.86,9.57,5.03,2.86

100%|██████████████████████████████████████████████████████████████████████████████████| 12/12 [01:05<00:00,  5.44s/it]

50CELL_BUSANJINGU_2019_201912.parquet

DONE :)

In [76]:
col_list = ['id', 'x', 'y', 'timezn_cd', 'total']

In [88]:
type(datadf['total'])

pandas.core.series.Series

In [90]:
# Monthly - Total by id, x, y, timezn_cd
for i in tqdm(range(len(f_list))):
    datadf = pd.read_parquet(f_list[i], columns=['id', 'x', 'y', 'timezn_cd','total'])
    datadf = datadf.groupby(by=['id', 'x', 'y', 'timezn_cd']).sum().reset_index().iloc[:,:]
    datadf = datadf[datadf.id > 0]
    
    total_col = 'total_'+str(f_list[i][23:29])    
    
    datadf.rename(columns = {'total':total_col})
    
    a = datadf[['id','x','y','timezn_cd', 'total']]
    
    if i == 0:
        fpdf = a
    else:
        fpdf = pd.merge(fpdf, a, how='outer', on=['id','x','y','timezn_cd'])
    
    print(f_list[i])
    
fpdf.to_csv('dataset_fp.csv', encoding = "UTF-8" ,index = False)
print("DONE :)")

  8%|██████▉                                                                            | 1/12 [00:01<00:12,  1.13s/it]

50CELL_BUSANJINGU_2019_201901.parquet

 17%|█████████████▊                                                                     | 2/12 [00:02<00:11,  1.16s/it]

50CELL_BUSANJINGU_2019_201902.parquet

 25%|████████████████████▊                                                              | 3/12 [00:03<00:10,  1.21s/it]

50CELL_BUSANJINGU_2019_201903.parquet

 33%|███████████████████████████▋                                                       | 4/12 [00:04<00:09,  1.22s/it]

50CELL_BUSANJINGU_2019_201904.parquet

 42%|██████████████████████████████████▌                                                | 5/12 [00:06<00:08,  1.27s/it]

50CELL_BUSANJINGU_2019_201905.parquet

 50%|█████████████████████████████████████████▌                                         | 6/12 [00:07<00:07,  1.29s/it]

50CELL_BUSANJINGU_2019_201906.parquet

 58%|████████████████████████████████████████████████▍                                  | 7/12 [00:08<00:06,  1.29s/it]

50CELL_BUSANJINGU_2019_201907.parquet

 67%|███████████████████████████████████████████████████████▎                           | 8/12 [00:10<00:05,  1.31s/it]

50CELL_BUSANJINGU_2019_201908.parquet

 75%|██████████████████████████████████████████████████████████████▎                    | 9/12 [00:11<00:03,  1.32s/it]

50CELL_BUSANJINGU_2019_201909.parquet

 83%|████████████████████████████████████████████████████████████████████▎             | 10/12 [00:12<00:02,  1.34s/it]

50CELL_BUSANJINGU_2019_201910.parquet

 92%|███████████████████████████████████████████████████████████████████████████▏      | 11/12 [00:14<00:01,  1.35s/it]

50CELL_BUSANJINGU_2019_201911.parquet

100%|██████████████████████████████████████████████████████████████████████████████████| 12/12 [00:15<00:00,  1.30s/it]

50CELL_BUSANJINGU_2019_201912.parquet

DONE :)